@using BlazorMonaco
@using BlazorMonaco.Editor
@using BlazorMonaco.Languages

@page "/submit"

<PageTitle>Jellyfin Hardware Survey</PageTitle>

<fieldset>
	<div class="form-group monacco-edtior-container">
		<label for="submit_value" class="label">JSON Result from the Survey Tool.</label>
		<StandaloneCodeEditor Id="my-editor-instance-id" 
		                      @ref="_editor"
		                      CssClass="h-100 monacco-edtior"
		                      OnDidInit="OnEditorInitialized"
		                      OnDidChangeModelContent="OnValueChanged"
		                      ConstructionOptions="EditorConstructionOptions" />
	</div>
	<div>
		@if (IsSchemaValid)
		{
			<button class="btn btn-primary">
				Submit Results.
			</button>
		}
		
		<div class="list-group">
			@foreach (var item in ValidationErrors)
			{
				<div class="list-group-item">
					<code>@item.Path</code> @item.Message
				</div>
			}
		</div>
	</div>
	
</fieldset>