@attribute [Authorize]
@page "/Admin/Dashboard"

<h3>Dashboard</h3>


<AuthorizeView>
    <Authorized>
        Name: <span>@context.User.Identity.Name</span>
    </Authorized>
    <NotAuthorized>
        <span>Nope</span>
    </NotAuthorized>
</AuthorizeView>