
$waiter-indicator-bg: rgba($gray-500, 0.58);


$form-group-width: 25rem;
$form-group-input-width: 8rem;

$form-list-item-badge-width: 5px;

$width-desktop-sidebar-expanded: 15.5rem;
$width-desktop-sidebar-retracted: 4rem;
$width-mobile-sidebar-expanded: 100%;
$width-mobile-sidebar-retracted: 0px;
$navbar-background: $gray-800 !important;
$size-sidebar-toggle: 40px;
$height-all-navbar: 35px;

$z-waiter-container: 1000;
$z-dialog: 500;
$z-error-blazor: 100;
$z-navbar: 1500;

$animation-types: "-webkit-animation", "-moz-animation", "-ms-animation", "animation";
