@using Jellyfin.HardwareVisualizer.Shared.Internals
@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<UnauthorizedTopBar />
		@* <AuthorizeView>
			<Authorized>
				<AuthorizedTopBar />
			</Authorized>
			<NotAuthorized>
			</NotAuthorized>
		</AuthorizeView> *@

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code
{
	public UserData UserJson { get; set; }
}
