@using Jellyfin.HardwareVisualizer.Shared.Internals
@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row d-flex flex-row justify-content-between">
			<div class="float-left">
				<a href="?@SelectedDevicesQuery" target="_blank">Perma Link</a>
			</div>
			<div class="float-right">
				<a href="https://jellyfin.org/docs/" target="_blank">Docs</a>
			</div>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code
{
	public UserData UserJson { get; set; }
}
