@using Jellyfin.HardwareVisualizer.Shared
@using Jellyfin.HardwareVisualizer.Shared.Models
	
<div class="nav-item">
	<a class="navbar-brand nav-link" href="">
		<img src="/img/jhs.png" alt="jhs.png" style="width: 12rem" />
	</a>
</div>